@model BookStore.Models.Categories.CategoryViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var bookCount = 0; }

@foreach (var s in Model.SubjectList)
{
    if (s.Books != null)
    {
        bookCount += s.Books.Count;
    }
}

<h2>Category: @Model.Category.Name (@bookCount)</h2>
@*<a asp-area="" asp-controller="Home" asp-action="Index">Return Back</a>*@


<div class="row">
    <div class="col-md-3 subjectsContainer">
        <h5 class="font-weight-bold">Subjects in this category</h5>

        @foreach (var s in Model.SubjectList)
        {
        <div class="subject-category-item">
            @if (s.Books != null)
            {
                <a asp-route-subjectId="@s.Id" asp-controller="Books" asp-action="Index">@s.Name</a> <span> (@s.Books.Count)</span>
            }
            else
            {
                <a asp-route-subjectId="@s.Id" asp-controller="Books" asp-action="Index">@s.Name</a> <span> (@s.Books.Count)</span>
            }
        </div>
        }
    </div>

    <div class="col-md-9">
        <div class="row">

            @if (bookCount == 0)
            {
                <p style="width: 100%; margin-top: 20px;">There are no Books in this category yet.</p>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Index">Return to Homepage</a>
            }
            else
            {
                foreach (var subject in Model.SubjectList)
                {
                    foreach (var book in subject.Books)
                    {
                        <div class="item-card">
                            <a asp-area="" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">

                                <div class="item-thumbnail">
                                    <img src="~/images/@book.Thumbnail" alt="book-thumbnail">
                                </div>

                                <div class="item-details">
                                    <p class="title">@book.Title - <span class="bookSubject">@book.CategorySubject.Name</span></p>
                                    <p class="author">@book.Author</p>
                                    <p class="details">@book.Description?.Substring(0, Math.Min(book.Description.Length, 50)) ...</p>

                                </div>
                            </a>
                        </div>
                    }
                }
            }

        </div>
    </div>
</div>