@page
@model LoginModel


@if (Request.Query["ReturnUrl"].ToString().ToLower().Equals("/admin"))
{
    Layout = "";

    <!doctype html>
    <html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Login</title>
        <!-- Bootstrap CSS -->

        <script src="~/js/site.js"></script>
        <link rel="stylesheet" href="~/admindek/assets/vendor/bootstrap/css/bootstrap.min.css">
        <link href="~/admindek/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
        <link rel="stylesheet" href="~/admindek/assets/libs/css/style.css">
        <link rel="stylesheet" href="~/admindek/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
        <style>
            html,
            body {
                height: 100%;
            }

            body {
                -ms-flex-align: center;
                align-items: center;
                display: -ms-flexbox;
                display: flex;
                padding-bottom: 40px;
                padding-top: 40px;
            }
        </style>
    </head>

    <body>
        <!-- ============================================================== -->
        <!-- login page  -->
        <!-- ============================================================== -->
        <div class="splash-container">
            <div class="card ">
                <div class="card-header text-center">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookStore</a>
                    <span class="splash-description">Please enter your user information.</span>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Input.Email"
                                   class="form-control form-control-lg" id="email" type="text" placeholder="Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password"
                                   class="form-control form-control-lg" id="password" type="password" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="custom-control custom-checkbox">
                                <input asp-for="Input.RememberMe"
                                       class="custom-control-input" type="checkbox"><span class="custom-control-label">@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                        </form>
                    </div>
                    <div class="card-footer bg-white p-0  ">
                        <div class="card-footer-item card-footer-item-bordered">
                            <a class="footer-link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create An Account</a>
                        </div>
                        <div class="card-footer-item card-footer-item-bordered">
                            <a class="footer-link" asp-page="./ForgotPassword">Forgot Password</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- end login page  -->
            <!-- ============================================================== -->
            <!-- Optional JavaScript -->
            <script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
            <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
        </body>

    </html>
}
else
{
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

}